.tCenterView{
	width: 100%;
}
.tTestRow{
	float:left;
	width:100%;
	height:25px;
}
.tTestRow :hover{
	background-color: darkgrey;
}
.tEvenRow{
	background-color:grey;
}
.tOddRow{
	background-color:white;
}
.tSequence{

}
.tStatusIcon{

}
.tMethod{

}
.tPath{

}
.tTime{

}
.tExpandable{

}
.tInputBody{

}
.tInputConfig{

}
.tOutput{

}
.tCorrect{
	background-color: green;
}
.tExpandableRow{
	width:100%;
	height:75px;
	background-color: darkgrey;
}
.tResultStatus{

}
.tResultConfig{

}
.tResultHeaders{

}