<div class="tCenterView">
    <div ng-repeat="test in tests">   
        <div class="tTestRow" ng-click="toggleExpandRow($index)">
            <div class="tSequence" ng-bind-html-unsafe="test.sequence"></div>
            <div class="tStatusIcon" ng-show="test.resultStatus == 'Success'" src="assets/testStatusSuccess.jpg"></div>
            <div class="tStatusIcon" ng-show="test.resultStatus == 'Failure'" src="assets/testStatusFailure.png"></div>
            <div class="tStatusIcon" ng-show="test.resultStatus == 'Loading'" src="assets/testStatusLoading.gif"></div>
            <div class="tStatusIcon" ng-show="test.resultStatus == 'HardFailure'" src="assets/testStatusHardFailure.jpg"></div>
            <div class="tStatusIcon" ng-show="test.resultStatus == 'StatusError'" src="assets/testStatusStatusError.png"></div>
            <div class="tMethod" ng-bind-html-unsafe="test.method"></div>
            <div class="tPath" ng-bind-html-unsafe="test.path"></div>
            <div class="tTime" ng-bind-html-unsafe="test.time"></div>
            <div class="tExpandable" ng-show="test.showExpandable">
                <div class="tExpandableRow">Input Body: <div class="tInputBody" ng-bind-html-unsafe="test.inputBody"></div></div>
                <div class="tExpandableRow">Input Config: <div class="tInputConfig" ng-bind-html-unsafe="test.inputConfig"></div></div>
                <div class="tExpandableRow">Output: <div class="tOutput" ng-bind-html-unsafe="test.result.data"></div></div>
                <div class="tExpandableRow">Correct Output: <div class="tOutput tCorrect" ng-bind-html-unsafe="test.correctOutput"></div></div>
                <div class="tExpandableRow">Result Status: <div class="tResultStatus" ng-bind-html-unsafe="test.result.status"></div></div>
                <div class="tExpandableRow">Correct Result Status: <div class="tResultStatus tCorrect" ng-bind-html-unsafe="test.correctResultStatus"></div></div>
                <div class="tExpandableRow">Result Config: <div class="tResultConfig" ng-bind-html-unsafe="test.result.config"></div></div>
                <div class="tExpandableRow">Result Headers: <div class="tResultHeaders" ng-bind-html-unsafe="test.result.headers"></div></div>
            </div>
        </div>
    </div>
</div>